@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.Skills {
  margin: 200px 0;
  // outline: 1px dotted red;
  h1 {
    margin-bottom:100px;
    padding-top: 80px;
    font-size: 50px;
    text-align: center;
  }
  .container {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    background: #000;
    border: 4px solid #000;
    box-sizing: content-box;
    .overflow_hidden {
      overflow: hidden;
      position: relative;
      height: 100%;
      // outline: 1px dotted red;
      &:has(.emoji):hover +.speechBox {
        opacity: 1;
      }
      img.emoji {
        position: absolute;
        z-index: 1;
        bottom: -45px;
        right: -20px;
        height: 350px;
        width: auto;
        // outline: 1px dotted red;
      }

    .innerBox {
      position: relative;
      margin-top: 130px;
      width: 100%;
      height: 350px;
      background: #fff;
      .skillBox {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        row-gap: 25px;
        padding: 60px 20px 0;
        // outline: 1px dotted red;
        img {
          position: relative; z-index: 1;
          width: 100px;
          height: auto;
          filter: grayscale(100%);
          transition: .5s;
          &:hover {
            filter: none;
            transform: scale(1.1);
          }
        }
      }
    }
    p {
      margin-top: 40px;
      font-family: 'Pretendard-Regular';
      font-size: 30px;
      text-align: center;
      color: yellow;
    }
  }
  .speechBox {
    position: relative;
    opacity: 0;
    transition: 1s;
    .speechBubble {
      position: absolute;
      z-index: 1;
      bottom: 220px; right: -160px;
      width: 200px;
      height: auto;
      // opacity: 0;
    }
    p {
      position: absolute;
      z-index: 2;
      bottom: 245px; right: -120px;
      text-align: center;
      line-height: 1.3;
    }
  }
}
}